.container {
    margin-top: 0.4cm;
}

.titleBox {
    background-image: url('../photos/clean6.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.tabsBox {
    margin-top: 1.5cm;
    background-color:lightslategrey;
}




